body{
  /* background-color: aqua; */
 font-style: italic;
}

.main{
  width: 70%;
  margin: 20PX auto;
  border: 1px solid blue;
  padding: 10px 5px 5px 10px;
  background-color: darksalmon;
}

h2{
  margin-top: 20px;
}

.encabezado{
  background-color: darkturquoise;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 30px;
 box-shadow: 0px 10px 10px gray;
}
